{% extends 'base.html.twig' %}

{% block title 'Vehicule' %}

{% block body %}
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            <form method="GET" action="{{ path("app_vehicle") }}" class="form-inline">
                <input name="search" id="search-vehicle" class="form-control mr-2" type="text" placeholder="Rechercher">
                <button class="btn btn-primary ml-2" id="btn-search">Chercher</button>
            </form>
        </div>
    </div>
    
    {% for vehicle in vehicles %}
        <div class="row mt-5 py-2 border card-vehicle">
            <div class="col-6 col-lg-4 text-center">
            {% if vehicle.pictures is empty %}
                <img src="{{ asset('pictures/default/sans-photo.jpg') }}" alt="sans photo" class="without-picture">
            {% else %}
                {% for picture in vehicle.pictures|slice(0,1) %}
                    <img src="{{ asset('pictures/') ~ picture.name }}" alt="Image" class="without-picture">
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-4 col-lg-8">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path("app_vehicle_show", {"id": vehicle.id }) }}" class="nav-link"><h2 class="title-vehicle">{{ vehicle.title }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-warning">{{ vehicle.price }} €, {{ vehicle.sale }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicle.city }}</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class=""><span class="font-weight-bold">Boite :</span> {{ vehicle.boxType }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicle.createdat|date("d/m/Y") }} à {{ vehicle.createdat|date("H:i") }}</p>
                    </div>
                </div>
                <div class="d-none description-vehicle">{{ vehicle.description }}</div>
            </div>
        </div>
    {% endfor %}
    {% if pagesNb > 1 %}
        {% if app.request.attributes.get('type') == 'all' %}
            {% include "vehicle/partials/_paginationAll.html.twig" %}
        {% elseif app.request.attributes.get('type') == 'sale' %}
            {% include "vehicle/partials/_paginationSale.html.twig" %}
        {% elseif app.request.attributes.get('type') == 'rent' %}
            {% include "vehicle/partials/_paginationRent.html.twig" %}
        {% elseif  app.request.attributes.get('type') == 'mes_annonces' %}
            {% include "vehicle/partials/_paginationUserAll.html.twig" %}
        {% endif %}
    {% endif %}

{% endblock %}
