{% extends 'base.html.twig' %}

{% block title 'Vehicule' %}

{% block body %}
    
    {% for vehicle in vehicles %}
        <div class="row mt-5 py-2 border" id="card-vehicle">
            <div class="col-6 col-lg-4 text-center">
                <img class="" src="{{ vehicle.image ?? 'http://place-hold.it/300x200'}}">
            </div>
            <div class="col-4 col-lg-8">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path("app_vehicle_show", {"id": vehicle.id }) }}" class="nav-link"><h2>{{ vehicle.title }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-warning">{{ vehicle.price }} €</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>[Lieu]</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class=""><span class="font-weight-bold">Boite :</span> {{ vehicle.boxType }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicle.createdat|date("d/m/Y") }} à {{ vehicle.createdat|date("H:i") }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if pagesNb > 1 %}
    <div class="row mt-4">
        <div class="col">
            <ul class="pagination">
                <li class="page-item {{ (currentPage == 1) ? "disabled" : "" }}">
                    <a class="page-link" href="{{ path("app_vehicle", {"currentPage": currentPage - 1}) }}" tabindex="-1">Previous</a>
                </li>
                {% for i in 1..pagesNb %}
                    <li class="page-item {{ (currentPage == i) ? "active" : "" }}">
                        <a class="page-link" href="{{ path('app_vehicle', {"currentPage": i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {{ (currentPage == pagesNb) ? "disabled" : "" }}">
                    <a class="page-link" href="{{ path("app_vehicle", {"currentPage": currentPage + 1}) }}">Next</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}
