{% extends 'base.html.twig' %}

{% block title 'Vehicule' %}

{% block body %}
    
    {% for vehicle in vehicles %}
        <div class="row mt-5 py-2 border" id="card-vehicle">
            <div class="col-6 col-lg-4 text-center">
            {% if vehicle.pictures is empty %}
                <img src="{{ asset('pictures/default/sans-photo.jpg') }}" alt="sans photo" class="without-photo">
            {% else %}
                {% for picture in vehicle.pictures|slice(0,1) %}
                    <img src="{{ asset('pictures/') ~ picture.name }}" alt="Image" class="without-photo">
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-4 col-lg-8">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path("app_vehicle_show", {"id": vehicle.id }) }}" class="nav-link"><h2>{{ vehicle.title }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-warning">{{ vehicle.price }} €, {{ vehicle.sale }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>[Lieu]</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class=""><span class="font-weight-bold">Boite :</span> {{ vehicle.boxType }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicle.createdat|date("d/m/Y") }} à {{ vehicle.createdat|date("H:i") }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if pagesNb > 1 %}
        {% if app.request.attributes.get('_route') == 'app_vehicle' %}
            {% include "vehicle/partials/_paginationAll.html.twig" %}
        {% elseif app.request.attributes.get('_route') == 'app_vehicle_sale' %}
            {{vehicle.price}}
        {% endif %}
    {% endif %}

{% endblock %}
