{% extends 'base.html.twig' %}

{% block title 'Vehicule' %}

{% block body %}
    
    {% for vehicleRent in vehiclesRent %}
        <div class="row mt-5 py-2 border" id="card-vehicle">
            <div class="col-6 col-lg-4 text-center">
                <img class="" src="{{ vehicleRent.image ?? 'http://place-hold.it/300x200'}}">
            </div>
            <div class="col-4 col-lg-8">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path("app_vehicle_show", {"id": vehicleRent.id }) }}" class="nav-link"><h2>{{ vehicleRent.title }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-warning">{{ vehicleRent.price }} €, {{ vehicleRent.sale }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>[Lieu]</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class=""><span class="font-weight-bold">Boite :</span> {{ vehicleRent.boxType }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicleRent.createdat|date("d/m/Y") }} à {{ vehicleRent.createdat|date("H:i") }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% if pagesNb > 1 %}
        {% if app.request.attributes.get('_route') == 'app_vehicle_Rent' %}
            {% include "vehicle/partials/_paginationRent.html.twig" %}
        {% endif %}
    {% endif %}

{% endblock %}
