{% extends 'base.html.twig' %}

{% block title 'Vehicule' %}

{% block body %}
    
    {% for vehicleSale in vehiclesSale %}
        <div class="row mt-5 py-2 border" id="card-vehicle">
            <div class="col-6 col-lg-4 text-center">
                <img class="" src="{{ vehicleSale.image ?? 'http://place-hold.it/300x200'}}">
            </div>
            <div class="col-4 col-lg-8">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path("app_vehicle_show", {"id": vehicleSale.id }) }}" class="nav-link"><h2>{{ vehicleSale.title }}</h2></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-warning">{{ vehicleSale.price }} €, {{ vehicleSale.sale }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>[Lieu]</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class=""><span class="font-weight-bold">Boite :</span> {{ vehicleSale.boxType }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ vehicleSale.createdat|date("d/m/Y") }} à {{ vehicleSale.createdat|date("H:i") }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% if pagesNb > 1 %}
        {% if app.request.attributes.get('_route') == 'app_vehicle_sale' %}
            {% include "vehicle/partials/_paginationSale.html.twig" %}
        {% endif %}
    {% endif %}

{% endblock %}
