{% extends "base.html.twig" %}  

{% block body %}
    <div class="mb-3">
        <div class="row">
            <div class="col mt-4">
                <h3 class="h1 text-center">{{ vehicle.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if vehicle.pictures is empty %}
                    <img src="{{ asset('pictures/default/sans-photo.jpg') }}" class="picture-show" alt="">
                {% else %}
                    {% for picture in vehicle.pictures %}
                        <img src="{{ asset('pictures/') ~ picture.name }}" class="picture-show" alt="image">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4 class="h2"><u>Caractéristiques :</u></h4>
                <p class="h4">
                    <span class="font-weight-bold">Prix :</span> {{ vehicle.price }} €<br>
                </p>
                <p>
                    <span class="font-weight-bold">Marque :</span> {{ vehicle.mark }}<br>
                    <span class="font-weight-bold">Modèle :</span> {{ vehicle.model }}<br>
                    <span class="font-weight-bold">Mise en circulation :</span> {{ vehicle.year | date("d/m/Y") }}<br>
                    <span class="font-weight-bold">Nombres de kms :</span> {{ vehicle.kms }}<br>
                    <span class="font-weight-bold">Energie :</span> {{ vehicle.fuelType }}<br>
                    <span class="font-weight-bold">Boîte de vitesse :</span> {{ vehicle.boxtype }}<br>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4 class="h2"><u>Description :</u></h4>
            <p class="">
                {{ vehicle.description }}
            </p>
        </div>
    </div>
    <hr>
    <div id="map" class="my-4"></div>
    <hr>
    <div class="row">
        <div class="col"><a href="mailto:{{ vehicle.user.email }}">Envoyer un mail au proprietaire</a></div>
    </div>
    <input id="longitude" type="hidden" value="{{ vehicle.longitude }}">
    <input id="latitude" type="hidden" value="{{ vehicle.latitude }}">
    {% if app.user == vehicle.user %}
        <hr>  
        <div class="row mb-3">
            <div class="col-2">
                {% include "vehicle/partials/_delete.html.twig" %}
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Editer l'annonce</a>
            </div>
        </div>
    {% endif %}
    
{% endblock %}
  