<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <script async src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
        <script async src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
        <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
        <script async src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script async src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
            <p class="h3 mx-3" id="title-nav">LocaVenteAuto</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-home" aria-controls="nav-bar-home" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-bar-home">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    {% if app.user %}
                        {% if app.user.isVerified == true %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_vehicle_create") }}">Nouvelle annonce</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_register") }}">Créer un compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_login") }}">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if app.user %}
                <div id="user-identity">
                    <div class="picture-profil mr-5">
                        <img class="rounded-circle" src="{{ app.user | hashGravatar }}" alt="gravatar">
                    </div>
                    <div class="identity">
                        <p class="mail">{{ app.user }}</p>
                        <p class="vehicle-nb"><a href="{{ path("app_vehicle", {type: 'mes_annonces'}) }}">Voir mes {{ app.user | userVehicleNb }} annonce{{ (app.user|userVehicleNb > 1) ? 's' : ''}}</a></p>
                        <p id="logout"><a class="btn btn-primary logout" href="{{ path("app_logout") }}">Se déconnecter</a></p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a class="admin" href="{{ path('app_admin') }}">Gérer le site</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </nav>
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-danger text-center">
                Merci de confirmer votre adresse avant de continuer !
            </div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('verify_email_error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html> 