<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
            <p class="h3 mx-3" id="title-nav">[Titre du site]</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-home" aria-controls="nav-bar-home" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-bar-home">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    {% if app.user %}
                        {% if app.user.isVerified == true %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_vehicle_create") }}">Nouvelle annonce</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_logout") }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_register") }}">Créer un compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_login") }}">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </nav>
        {% if app.user.isVerified == false %}
            <div class="alert alert-danger text-center">
                Merci de confirmer votre adresse avant de continuer !
            </div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('verify_email_error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html> 